div {
    padding: 1px;
    margin: 3px;}
html{font-family: monospace;}
hr {
    margin-left: 0px;
    width: 475px;
    border: none;
    height: 1px;
    background-color: lightgrey;}
.MEDIA{
    vertical-align: top;
    text-align: left;}
#SQL{
    background-color:blue;
    color: white;}
#SQL > .SQL{
    background-color:white;
    color: blue;}
#ERROR{
    background-color:red;
    color: white;}
#ERROR > .ERROR{
    background-color:white;
    color: red;}
#EXCEPTION{
    background-color:orange;
    color: white;}
#EXCEPTION > .EXCEPTION{
    background-color:white;
    color: orange;}
#LOG{
    background-color:black;
    color: white;}
#LOG > .LOG{
    background-color:white;
    color: black;}
#SOMETHING{
    background-color:gray;
    color: white;}
#SOMETHING > .SOMETHING{
    background-color:white;
    color: gray;}